body {
    font-family: "Pacifico", cursive;
    background: rgb(131,58,180);
    background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    margin: 0;
    padding: 20px;
}
h1{
    font-size: 45px;
    text-align: center;
}

.profile {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Partie Mario début*/


















/* Partie Mario fin*/

/* Partie Ada début*/


















/* Partie Ada fin*/

/* Partie Khalil début*/


















/* Partie Khalil fin*/

/* Partie Mouhamed début*/


















/* Partie Mouhamed fin*/
